.sales-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin-top: 3rem;
    height: 800px;
    overflow-y: auto;
}

.sales-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 800px;
    width: 80%;
    height: auto;
    overflow-y: auto;
    background-color: var(--WhiteColor);
    padding: 1rem;
    margin: 2rem;   
    border-radius: 14px;
}

.filters-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    background-color: var(--WhiteColor);
    border-radius: 14px;
}

.filters-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter-label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--IconColor);
}

